<!DOCTYPE HTML>
<html lang="ja">
<head>
	<meta charset="UTF-8">
    <script src="{{ url_for("static", filename="js/jquery-1.5.1.min.js") }}"></script>
 	
<script type="text/javascript">
$(function(){
    load_items = function(){
        $("#items").html("now loading...");
        $("#items").load("/tag/" + $("#tag_name").val());
    }

    $("#tag_name").change(function(e){
	    load_items();
    });

});
</script>
   
    {% block head %}
	<script src="{{ url_for("static", filename="js/main.js") }}"></script>
    <link href="{{ url_for("static", filename="css/main.css") }}" rel="stylesheet" media="screen, projection" type="text/css">
	<title>{{ title }} </title>
    {% endblock %}
</head>
<body>

	<header>
		{% block header %}
		<h1>{{ title }}</h1>
		{% endblock %}
	</header>
	
    <section id="content" class="container clearfix">
		{% block body %}
		{% endblock %}
	</section>
	
	<footer class="">
        {% block footer %}
        {% endblock %}
	</footer>

</body>
</html>
